<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
            strong{
                color: green;
            }
        </style>
		<title>Document</title>
	</head>
	<body>
				<h1>Congratulations {{name}}</h1>
                <h3>Your Account Has Successfully Registered in MEDIC.ALL, your temporary password is :</h3>
                <h1><strong>{{pass}}</strong></h1>
                <h3>Please Press the Button Bellow to Change Your Password</h3>
                <form action="http://localhost:9999/changeoldpass.html"><input type="submit" value="Change Password" /></form>
	</body>
</html>
