.col-lg-12,
.col-lg-4,
.col-sm-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.spad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col-lg-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-sm-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-title p,
h2 {
  color: white;
  text-align: center;
}

.section-title h2 {
  font-size: 40px;
}

.section-title h3 {
  margin-top: 20px;
  font-size: 30px;
  color: white;
  text-align: center;
}

.choose-item h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.choose-item h2:hover {
  color: #5ced59;
}

.choose-item p {
  font-size: 30px;
}

.chooseus-section {
  margin-top: 0px;
  border-top: 5px #59eddb dashed;
  margin-bottom: 0px;
  background: #001433;
  padding-top: 88px;
  padding-bottom: 50px;
}

.chooseus-section.schedule-page .section-title {
  text-align: center;
}

.chooseus-section.schedule-page .choose-item {
  text-align: center;
}

.chooseus-section .section-title {
  margin-bottom: 52px;
}

.choose-item {
  margin-bottom: 40px;
  text-align: justify;
}

.choose-item:hover {
  border: 2px rgb(30, 190, 211) dashed;
}

.choose-item h5 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 25px;
}

.choose-item p {
  color: #cccccc;
  font-weight: 500;
}

.choose-item p {
  display: flex;
  flex-direction: column;
}
